.carouselItem {
  border: 1px solid transparent;
  border-radius: 16px;
  height: 440px;
  width: 100%;
  position: relative;

  &__content {
    border-radius: inherit;
    height: 100%;
    z-index: 2;
    position: relative;
    max-width: 40%;
    background: linear-gradient(224.09deg, rgba(234, 94, 66, 0) 49.3%, rgba(234, 94, 66, 0.00518832) 52.55%, rgba(234, 93, 68, 0.021306) 55.8%, rgba(234, 91, 71, 0.0489959) 59.05%, rgba(234, 89, 74, 0.0884468) 62.3%, rgba(234, 86, 79, 0.139065) 65.55%, rgba(234, 82, 85, 0.19913) 68.8%, rgba(234, 79, 91, 0.265615) 72.05%, rgba(234, 74, 97, 0.334385) 75.3%, rgba(234, 71, 103, 0.40087) 78.55%, rgba(234, 67, 109, 0.460935) 81.8%, rgba(234, 64, 114, 0.511553) 85.05%, rgba(234, 62, 117, 0.551004) 88.3%, rgba(234, 60, 120, 0.578694) 91.55%, rgba(234, 59, 122, 0.594812) 94.8%, rgba(234, 59, 122, 0.6) 98.05%);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -100px;
      width: 100px;
      height: 100%;
      background: linear-gradient(180deg, rgba(35, 35, 35, 0) 0%, rgba(35, 35, 35, 0.0086472) 6.67%, rgba(35, 35, 35, 0.03551) 13.33%, rgba(35, 35, 35, 0.0816599) 20%, rgba(35, 35, 35, 0.147411) 26.67%, rgba(35, 35, 35, 0.231775) 33.33%, rgba(35, 35, 35, 0.331884) 40%, rgba(35, 35, 35, 0.442691) 46.67%, rgba(35, 35, 35, 0.557309) 53.33%, rgba(35, 35, 35, 0.668116) 60%, rgba(35, 35, 35, 0.768225) 66.67%, rgba(35, 35, 35, 0.852589) 73.33%, rgba(35, 35, 35, 0.91834) 80%, rgba(35, 35, 35, 0.96449) 86.67%, rgba(35, 35, 35, 0.991353) 93.33%, #232323 100%);
    }
  }

  &__img {
    z-index: 1;
    height: 100%;
    position: absolute;
    top:  0;
    right: 0;
    width: 60%;
  }
}
