$xlBreakpoint: 1279px;
$lgBreakpoint: 991px;
$mdBreakpoint: 767px;
$smBreakpoint: 304px;

$baseFontSize: 18px;
$baseFontFamily: "GraphikLCG", sans-serif;

$breakPoints: (
  sm: (
    min: $smBreakpoint + 1
  ),
  md: (
    min: $mdBreakpoint + 1,
  ),
  lg: (
    min: $lgBreakpoint + 1,
  ),
  xl: (
    min: $xlBreakpoint + 1,
  ),
);

$xlContent: 1216px;
$lgContent: 800px;
$mdContent: 624px;
$smContent: 272px;
